.contract-list-item {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
  "style-and-studio options"
  "time options"
  "rate options";
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin:5px 0;
}

.style-and-studio {
  grid-area: style-and-studio;
  font-weight: 500;
}

.time {
  grid-area: time;
}

.rate {
  grid-area: rate;
}

.cancel {
  color: red
}

i {
  font-size: 1.5em;
}

.fa-edit {
  color: blue;
}

.fa-times-circle {
  color: red;
}

button {
  background-color: transparent;
  border:none;
}

button:focus {
  outline: none;
  box-shadow: none;
}


