.contract-list-item {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: 
  "message message"
  "timeframe options"
  "style-and-studio options"
  "time options"
  "rate options";
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px 0;
}

.timeframe {
  grid-area: timeframe;
}

.style-and-studio {
  grid-area: style-and-studio;
  font-weight: 500;
}

.time {
  grid-area: time;
}

.rate {
  grid-area: rate;
}

.options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid lightgrey;
}

.end-date {
  color: grey;
}

.estimate {
  color: grey;
}

.delete {
  color: red;
}

.confirm {
  color: green;
}

.confirm-end-date {
  color: green;
}

.confirm-estimate {
  color: green;
}

.confirm-delete {
  color: red;
}

button {
  background-color: transparent;
  border:none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.message {
  grid-area: message;
  color: blue;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  padding-bottom: 5px;
}

.ant-space-item {
  margin-left: 5px;
}

.heads-input {
  margin-left: 5px;
  text-align: center;
}

