.add-item-form {
  display:grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

.contract-single-toggle {
  grid-column: 1 / span 2;
  justify-self: stretch;
  display: flex;
  justify-content: center;
}