.class-list-item {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: 
    "message message"
    "style-and-studio options"
    "time options"
    "type options"
    "rate options";
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px 0;
}

.style-and-studio {
  grid-area: style-and-studio;
  font-weight: 500;
}

.type {
  grid-area: type;
}

.time {
  grid-area: time;
}

.rate {
  grid-area: rate;
}

.options {
  grid-area: options;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid lightgrey;
}

.taught {
  color: green
}

.cancel {
  color: red
}

.nostatus {
  color:black;
}

i {
  font-size: 1.5em;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

button {
  background-color: transparent;
  border:none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.message {
  grid-area: message;
  color: blue;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  padding-bottom: 5px;
}

.students-input {
  margin-left:5px;
  text-align:center;
}


