.login-form {
  display:flex;
  flex-direction: column;
}

.login-form label {
  margin: 5px
}

.login-form button {
  width: 200px;
}

.login-message {
  text-align: center;
  margin-top: 10px;
  color: #DE4A3F;
}