.login-page-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FDFAEC;
  font-size: 25px;
  padding: 20px;
  z-index:-1;
}

.login-form {
  display:flex;
  flex-direction: column;
}

.login-form label {
  margin: 5px
}

.login-form button {
  width: 200px;
}

.login-message {
  text-align: center;
  margin-top: 10px;
  color: #DE4A3F;
}