.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #0D3B66;
  color: #FDFAEC;
  position: sticky;
  top:0px;
  z-index:10;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
}

.header-container a {
  color:#FDFAEC;
}