.add-button {
  width: 100px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 20px;
}

.date-display {
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
}

.date-display-container {
  display:flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.datepicker-dates-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "start end"
    "button button";
  column-gap: 5px;
  row-gap: 5px;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}

.start {
  grid-area: start;
}

.end {
  grid-area: end;
}

.button {
  grid-area: button;
}
