.bottom-nav {
  position: fixed;
  bottom: 0px;
  display:flex;
  width:100%;
  height: 10vh;
  background-color: #7D898C;
}

.bottom-nav-item {
  width: 25%;
  /* border-width: 4px 2px;
  border-style: solid;
  border-color: #0D3B66; */
  display:flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #0D3B66;
  text-align:center;
}

.bottom-nav-item a {
  color: #FDFAEC;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .bottom-nav {
    width: 70%;
    max-width: 1000px;
  }
  
}