@import '~antd/dist/antd.css';

.app-body {
  height: 100vh;
  display:grid;
  grid-template-rows: 10vh auto 10vh;
}

.flex-h {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-v {
  display:flex;
  flex-direction: column;
}

.page-container {
  padding: 10px;
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 16px;
}

.page-container input {
  font-size: 16px;
}

.list {
  border: none;
  margin-bottom: 15vh;
}


