@import '~antd/dist/antd.css';

.app-body {
  display:grid;
  grid-template-rows: 10vh auto 10vh;
  background-color: #0D3B66;
}

.flex-h {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-v {
  display:flex;
  flex-direction: column;
}

.page-container {
  padding: 10px;
  margin: 5px;
  border: 1px solid #FDFAEC;
  border-radius: 5px;
  font-size: 16px;
  background-color: #0D3B66;
  color: #FDFAEC;
}

.page-container input {
  font-size: 16px;
  background-color: #EAECEA;
}

.form {
  border: none;
}

.form-child {
  background-color:  #FDFAEC;
  color: #303536;
  padding: 10px;
  border-radius: 5px;
}

.list {
  border: none;
  margin-bottom: 10vh;
}

input {
  background-color: #DFE2DF;
}


